*.csv text eol=lf
*.tsv text eol=lf
*.txt text eol=lf
*.mol text eol=lf
*.sdf text eol=lf
*.zip binary -delta
*.fs binary -delta
*.png binary
*.jpg binary
*.svg binary
*.php text diff=php
*.pl text eol=lf
*.sh text eol=lf
*.css text
*.js text
*.html text diff=html
data/chembl_25.fs filter=lfs diff=lfs merge=lfs -text
